@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("./fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf");
    font-weight: normal;
}


@font-face {
    font-family: Gilroy-Regular;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/gilroy/Gilroy-Regular.woff2") format("woff2"),
        url("./fonts/gilroy/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: Gilroy-Semibold;
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"),
        url("./fonts/gilroy/Gilroy-Semibold.woff") format("woff");
}